
---
BasedOnStyle: Google
IndentWidth:  4
TabWidth:     8
UseTab:       Never
ColumnLimit:  100
---
Language:     Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: false
ReflowComments: false
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 1
...
