# The typical build output directory
/build/

# Sub-projects
/subprojects/

# Compilation database
compile_commands.json
.clangd/

# direnv configuration file
.envrc

# IDE settings
/.vscode/

# CMake typical build dir
/cmake_build/

