name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    strategy:
      matrix:
        config: [
          { os: ubuntu-20.04, c_compiler: gcc-10, cpp_compiler: g++-10 },
          { os: ubuntu-20.04, c_compiler: clang-12, cpp_compiler: clang-12 },
          { os: ubuntu-22.04, c_compiler: gcc-11, cpp_compiler: g++-11 },
          { os: ubuntu-22.04, c_compiler: gcc-12, cpp_compiler: g++-12 },
          { os: ubuntu-22.04, c_compiler: gcc-13, cpp_compiler: g++-13 },
          { os: ubuntu-22.04, c_compiler: clang-13, cpp_compiler: clang-13 },
          { os: ubuntu-22.04, c_compiler: clang-14, cpp_compiler: clang-14 },
          { os: ubuntu-22.04, c_compiler: clang-15, cpp_compiler: clang-15 },
        ]

    runs-on: ${{ matrix.config.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_C_COMPILER=${{matrix.config.c_compiler}} -DCMAKE_CXX_COMPILER=${{matrix.config.cpp_compiler}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}}
      
